body{
    font-family: 'Roboto', sans-serif;
}
.text-color{
    color: #289BDE;
}
.slide-text{
    padding-bottom: 10%;
}
.bg-color{
    background-color: rgba(214, 210, 210, 0.2);
    display: 100%;
}
.slide-text h1{
    font-size: 65px;
    
}
.button-style{
    color: #289BDE;
    height: 50px;
    width: 122px;
    font-size: 20px;
    color: white;
}
.slide-text1{
    padding: -10%;
}
.middle-text{
    width: auto;
    height: 500px;
    text-align: center;
    padding-top: 10%;
    font-size: x-large;
}
.image-size{
    height: 200px;
    width: 200px;
}
.containcolor{
    background-color: #289BDE;
}
.registert{
    
    height: 300px;
}
.registert a{
    text-decoration: none;
    color: white;
}
.registerte{
    height: 700px;
}